table {
  margin: auto;
}
#Ninja-A {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.331);
}
th {
  width: 130px;
  text-align: end;
  background-color: rgba(255, 255, 0);
}
#Footer {
  text-align: center;
  font-weight: bold;
}
p {
  margin-top: 20vh;
  margin-left: 40vw;

}
hr{
  width: 62%;
}