#LinkedInLogin {
  font-family: "Tahoma", Courier, monospace;
  height: 95vh;
  background-color: white;
  border-bottom: 5px solid black;
}
#LinkedInlogo {
  margin: 20px;
}
table {
  margin: auto;
}

#LinkedIn {
  padding: 24px;
  border-radius: 8px;
  width: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
form > h1 {
  margin: 0;
}

#LinkedIn input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
}
fieldset {
  text-align: center;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
legend {
  padding: 0px 10px;
}
button {
  width: 100%;
  height: 40px;
  border-radius: 500px;
  border: 1px solid grey;
  background-color: unset;
}
#LinkedInSubmit {
  border-radius: 500px !important;
  background-color: #0a66c2;
  color: white;
  border: none !important;
}
#LinkedIn a {
  color: #0a66c2;
  text-decoration: none;
}
#Singup {
  text-align: center;
}
#Singup > #Join {
  color: #0a66c2;
}
/* //////////////////////////////////// */

#Scratch {
  font-family: sans-serif;
  height: 95vh;
  background-color: white;
  border-bottom: 5px solid black;
}

ul {
  list-style-type: none;
  padding: 20px;
  background-color: rgb(233, 233, 233);
}
li {
  display: inline;
  width: fit-content;
}

#ScratchLogo {
  /* font-size: 3rem; */
  font-size: 30px;
  color: #6b757d;
}
.right {
  font-size: 20px;
  margin-right: 20px;
  float: right;
  margin-top: 5px;
}
#Signup {
  opacity: 50%;
}
#scratchLogin > form > input {
  width: 400px;
  margin: 10px;
  height: 50px;
  padding: 0;
  border: 1px solid gray;
  border-radius: 5px;
}
#ScratchSubmit {
  background-color: #63aaff;
  border: unset !important;
  color: white;
}
/* //////////////////////////////////// */

#Gradient-Background {
  background: linear-gradient(
    180deg,
    rgba(85, 195, 166, 1) 50%,
    rgba(141, 215, 170, 1) 100%
  );
  height: 95vh;
  font-family: sans-serif;
}
#GradientLogin {
  margin-top: 20vh;
  background-color: white;
  padding: 50px;
  border-radius: 8px;
}
#GradientLogin h1,
span {
  color: #0b847a;
  text-align: center;
}
#GradientLogin p {
  text-align: center;
}

#GradientLogin > form > input[type="email"],
input[type="password"] {
  margin: 20px 0;
  width: 300px;
  height: 50px;
  border: 1px solid lightgrey;
  padding-left: 20px;
  display: block;
}
#GradientSubmit {
  color: white;
  background-color: #0b847a;
  border: unset;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
#GradientLogin form {
  text-align: center;
  padding: 20px;
  text-align: center;
}
div {
  text-align: start;
}

/* //////////////////////////////////// */

section {
  margin-bottom: 100px;
}
